<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<test thread-count="5" name="Test">
		<classes>
			<class name="amazon.testScripts.TC03AddProductToCartTest" />
			<class name="amazon.testScripts.TC01HomePageTest" />
			<class name="amazon.testScripts.TC02SearchBarTest" />
			<class name="amazon.testScripts.TC04TodayDealsTest" />
			<class name="amazon.testScripts.TC05CustomerServiceTest" />
			<class name="amazon.testScripts.TC06LanguagesTest" />
		</classes>
	</test> <!--Test -->
</suite> <!--Suite -->